
.customInputLogin {
    border-radius: 6px;
    padding: 7px 10px;

}
.btnLogin {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border: none;
    margin-bottom: 1rem;
    margin-top: 8px;
}

.forgotPassword {
    border-top: 1px solid #b5b5b582;
    padding-top: 24px !important;
    text-align: center;

    a {
        color: #333;
        font-size: 14px;
    }
}